* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    justify-content: center;
    /* display: flex; */
}

body {
    width: 100%;
}

div.principal{
    /* width: 80%; */
    height: 100%;
    margin:0 auto;
}

.menu{
    width: 250px;
    height: 100%;
    position: fixed;
    background-color: cadetblue;
    font-size: 22px;
    margin-left: 82%;
    box-shadow: 2px black;
}

div a.menuconteudo{
    display: flex;
    font-size: 25px;
    font-family: Arial;
    /* display: flexbox; */
    align-items: center;
    text-align: center;
    justify-content: center;
    height: calc(100%/ 4);
    /* margin-top:20px; */
    text-decoration: none;
    padding: 23px;
    color: white;
}

.astandard{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-top: 20px;
    font-weight: 700;
}

div i{
    margin-right: 10px;
    color: azure;
}
a.menuconteudoativo:hover{
    background-color: rgb(59, 96, 97);
}

.imgmenu{
    width: 240px;
    height: 250px;
    margin-bottom: 60px;
}

.conteudo{
    margin-right: 250px;
    height: 100%;
    width: 80%;
    margin-left: 50px;
    background-color: white;
    border: 1px solid black;
    /* margin-top: 10px; */
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

.fundoconteudo{
    width: 90%;
    height: 100%;
    background-color: rgb(226, 224, 221);
    justify-content: center;
    /* border: 1px solid black; */
}

.fundoconteudopost{
    width: 90%;
    height: 100%;
    background-color: rgb(219, 208, 190);
    justify-content: center;
    display: flex;
}

.fundoposts{
    width: 80%;
    height: 100%;
    background-color: rgb(226, 224, 221);
    justify-content: center;
    text-align: center;
    display: flex;
    border: 1px black solid;
}

.estpost{
    width: 80%;
    height: calc(100%/2);
    display: flex;
    border: 1px solid;
    margin: 0 auto;
    justify-content: space-between;
}

.posthome{
    width: 49%;
    height: 400px;
    background-color:rgb(114, 176, 179);
    /* display: flex; */
}

.ftpost{
    width: 100%;
    height: 40%;
    margin-bottom: 10px;
    /* border: 1px solid black; */
}

.ftpostft{
    height: 100%;
    width: 100%;
    /* border: 1px solid rgb(26, 25, 25); */
}

.appost{
    font-size: 13px;
    font-family: sans-serif;
    color: aliceblue;
}

.vermais{
    text-decoration: none;
    color: rgb(93, 98, 102);
    font-size: 12px;
}

.ano{
    margin-bottom: 10px;
    margin-top: 5px;
}

h1,h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
}

h3,h2.h3,h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
    margin-top: 10px;
}

.espsutil{
    margin-bottom: 5px;
}

.mini{
    font-size: 12px;
    padding-bottom: 50px;
}

.caps{
    font-size: 23px;
}

.fotos{
    height: 300px;
    width: 500px;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

details summary:hover{
    font-weight: 900;
    cursor: pointer;
}

.hover-basic:hover{
    font-weight: 900;
    cursor: pointer;
}

.esp80{
    margin-bottom: 80px;
}